{% extends 'base.html' %}

{% block content %}
{% load static %}
    <table class="table">
        <thead class="table-head">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">Detalhes</th>
                <th scope="col">Cidade / Logradouro</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <th class="th-id" scope="row">{{ cliente.pk }}</th>
                <td class="td-name"><a href="{% url 'edit_cliente' pk=cliente.pk %}">{{ cliente.nome_cliente }}</a></td>
                <td>{{ cliente.status }}</td>
                <td class="td-detalhes">{{ cliente.detalhes_cliente }}</td>
                <td class="td-city">{{ cliente.regiao_cliente }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}