{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-left"></div>
<div class="container-center">
    <table class="table">
        <thead class="table-head">
            <tr>
                <th class="th-id" scope="col">ID</th>
                <th class="th-name" scope="col">Nome</th>
                <th class="th-status" scope="col">Status</th>
                <th class="th-detalhes" scope="col">Detalhes</th>
                <th class="th-city" scope="col">Cidade / Logradouro</th>
            </tr>
        </thead>
        <tbody class="table-body">
            {% for cliente in clientes %}
            <tr>
                <th class="th-id" scope="row">{{ cliente.pk }}</th>
                <td class="td-name"><a href="{% url 'edit_cliente' pk=cliente.pk %}">{{ cliente.nome_cliente }}</a></td>
                <td class="td-status">{{ cliente.status }}</td>
                <td class="td-detalhes">{{ cliente.detalhes_cliente }}</td>
                <td class="td-city">{{ cliente.regiao_cliente }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-right"></div>
{% endblock %}