{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container-fluid'>
  <div class='row'>
    <div class='col-3'></div>
    <div class='col-6'>
      <div class='container shadow'>
        <div class='row'>
          <div class='col-3'></div>
          <div class='col-12 col-md-6 mt-3'>
            <div class="card mt-5 shadow rounded">
              <div class='card-body'>
                <h5 class="card-title"><a href="{% url 'edit_cliente' pk=cliente.pk %}">{{ cliente.nome_cliente }}</a>
                </h5>
                <p>
                <hr><br>
                <b>Telefone:</b> {{ cliente.telefone }}</b><br>
                <b>Reside em:</b> {{ cliente.regiao_cliente }}</b><br>
                <b>Descrição:</b> {{ cliente.detalhes_cliente }}<br>
                <b>Anotações Denis: </b>{{ cliente.condicao_atendimento }}</b><br>
                <b>Avaliação:</b> {{ cliente.avaliacao_localizacao }}</b><br>
                <hr>
                <b>Status Geral: </b>{{ cliente.status }}</p>
                <sup><small><b>Modificado por:</b>{{cliente.autor.username}}, no dia: {{ cliente.data_edit }}
                </p>
                    </b></small></sup>
              </div>
            </div>
          </div>
          <div class='col-3'></div>
        </div>
      </div>
    </div>s
    <div class='col-3'></div>
  </div>
</div>
</div>
</div>

{% endblock %}