{% extends 'base.html' %}

{% block content %}
<!-- <div class="container"> -->
  <div class="card">
    <h2>Id: {{ cliente.pk}}</h2>
    <div class='card-body'>
      <div class="card-header">
        <h2><a href="{% url 'edit_cliente' pk=cliente.pk %}">{{ cliente.nome_cliente }}</a></h2>
      </div>
      <div class="card-detail">
        <p>Localidade: {{cliente.regiao_cliente}}</p>
      </div>
      <div class="card-detail">
        <p>Telefone: {{ cliente.telefone }}</p>
      </div>
      <div class="card-text">
        <p>Descrição: {{ cliente.detalhes_cliente }} </p>
      </div>
      <div class="card-text">
        <p>Anotações Avaliador: {{ cliente.condicoes_atendimento }}</p>
      </div>
      <div class="card-status">
        <spam>Resposta Avaliador: {{ cliente.avaliacao_localizacao }}</spam>
      </div>
      <div class="card-status">
        <spam>Status: {{ cliente.status }}</spam>
      </div>
    </div>
    <div class="card-edit">
      <p>Ultima edição: {{cliente.data_edit}} por: {{cliente.autor.username}}</p>
    </div>
  </div>
</div>

{% endblock %}